<div class="footer-wrapper">
    <table style="width:100%; border-collapse: collapse;">
        <tr>
            <td style="width:35%; text-align:left;">
                Tel: +381 11 8075 777<br>
                office@hofmann-srbija.com<br>
                www.hofmann-srbija.rs
            </td>
            <td style="width:30%; text-align:center; vertical-align: middle;">
                {% if rig_uri %}
                <img src="{{ rig_uri }}" style="max-height: 35px; margin-bottom: 5px;"><br>
                {% endif %}
                Strana <span class="page-num"></span> od <span class="page-count"></span>
            </td>
            <td style="width:35%; text-align:right;">
                TR: 220-21678-48<br>
                TR: 205-241423-21<br>
                PIB: SR 101030495
            </td>
        </tr>
    </table>
</div>